<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.joshspicer.piholedashboard</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.joshspicer.piholedashboard.startcommand</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Enable Pi-Hole</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.joshspicer.piholedashboard.stopcommand</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Disable Pi-Hole</string>
		</dict>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleDisplayName</key>
	<string>Pi ContrHOLE</string>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>NSCameraUsageDescription</key>
	<string>Pi ContrHOLE uses your camera to scan Pi-Hole QR codes during setup</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleName</key>
	<string>PiholeDashboard</string>
</dict>
</plist>
